[submodule "lib/helm"]
	path = lib/helm
	url = git@github.com:emacs-helm/helm
[submodule "lib/yasnippet"]
	path = lib/yasnippet
	url = git@github.com:capitaomorte/yasnippet
[submodule "lib/powerline"]
	path = lib/powerline
	url = git@github.com:jonathanchu/emacs-powerline
[submodule "lib/emmet-mode"]
	path = lib/emmet-mode
	url = git@github.com:smihica/emmet-mode
[submodule "lib/helm-emmet"]
	path = lib/helm-emmet
	url = git@github.com:yasuyk/helm-emmet
[submodule "lib/browse-king-ring"]
	path = lib/browse-king-ring
	url = git@github.com:browse-kill-ring/browse-kill-ring
[submodule "lib/ace-jump-mode"]
	path = lib/ace-jump-mode
	url = git@github.com:winterTTr/ace-jump-mode
[submodule "el-get/el-get"]
	path = el-get/el-get
	url = git@github.com:dimitri/el-get
[submodule "lib/npm"]
	path = lib/npm
	url = git@github.com:/azer/npm.el
[submodule "lib/sourcemap"]
	path = lib/sourcemap
	url = git@github.com:syohex/emacs-sourcemap
